html {
    body {
        font-family: 'Roboto', sans-serif;
    }

    .sidebar-heading {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
    }

    .content {
        text-align: justify;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
        }

        code,
        pre {
            font-family: 'Fira Mono', monospace;
        }
    }
}
